.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0);
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 3;

  &__title {
    font-family: "Castoro Titling";
    color: rgba($color: #ffffff, $alpha: 0.7);
    margin: 0;
    font-size: 1.2em;
  }

  &__note {
    position: absolute;
    bottom: -50px;
    right: 20px;
    padding-top: 50px;
    margin: 0;
    height: 40px;
    width: 100px;
    background-color: rgba(0, 0, 0);
    border-radius: 5px;
    color: rgba($color: #ffffff, $alpha: 0.7);
    text-align: center;
    font-family: "Castoro Titling";
    transition: transform 0.5s;

    z-index: 2;

    &:hover {
      transform: translateY(30px);
    }
  }

  &__cover {
    z-index: 5;
    position: absolute;
    right: 0;
    height: 50px;
    width: 300px;
    background-color: black;
  }
}

@keyframes moveNote {
  from {
    bottom: -80px;
  }

  to {
    bottom: 50px;
  }
}
