.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0);
  height: 2.5vw;
  padding: 1vw;
  box-sizing: border-box;
  z-index: 3;

  &__title {
    font-family: "Castoro Titling";
    color: rgba($color: #ffffff, $alpha: 0.7);
    margin: 0;
    font-size: 1.2em;
    user-select: none;
  }

  &__note {
    position: absolute;
    bottom: -2.5vw;
    right: 0.5vw;
    padding-top: 2.5vw;
    margin: 0;
    height: 2vw;
    width: 6vw;
    background-color: rgba(0, 0, 0);
    border-radius: 0.3vw;
    color: rgba($color: #ffffff, $alpha: 0.7);
    text-align: center;
    font-family: "Castoro Titling";
    transition: transform 0.5s;
    cursor: pointer;
    user-select: none;

    z-index: 2;

    &:hover {
      transform: translateY(5vh);
    }
  }

  &__cover {
    z-index: 5;
    position: absolute;
    right: 0;
    height: 100%;
    width: 20vw;
    background-color: black;
  }
}

