.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100vw;
  box-sizing: border-box;

  &__text {
    margin: 0;
    color: rgba($color: #ffffff, $alpha: 0.7);
    text-transform: uppercase;
    font-family: "Cutive Mono";
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    color: rgba($color: #ffffff, $alpha: 0.7);
  }
}
