.keyboard {
  &__container {
    width: 820px;
    display: flex;
    justify-content: center;
    padding: 10px 6px;
    background-image: url("../../../assets/images/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    flex-wrap: wrap;
    border: 20px solid rgb(0, 0, 0);
  }
}
